<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="">Books</a>
      <a *ngIf="user && user.role !== 'CUSTOMER'" mat-list-item routerLink="add-book">Add book</a>
      <a *ngIf="user" mat-list-item routerLink="loans/my">My loans</a>
      <a *ngIf="user && user.role !== 'CUSTOMER'" mat-list-item routerLink="loans">All loans</a>
      <a *ngIf="user === null" mat-list-item routerLink="login">Login</a>
      <a *ngIf="user === null" mat-list-item routerLink="register">Register</a>
      <a *ngIf="user !== null && user.role === 'ADMIN'" mat-list-item routerLink="users">Users</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Library App</span>
      <div class="username-container">
        <button class="logout-button" mat-raised-button *ngIf="user" (click)="logout()">Logout</button>
        <span class="username">{{ username }}</span>
      </div>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
