<mat-form-field *ngIf="categories$ | async as categories">
  <mat-label>Select category</mat-label>
  <mat-select [(value)]="selectedCategory" (valueChange)="filterBooks()">
    <mat-option>All</mat-option>
    <div *ngFor="let category of categories">
      <mat-option [value]="'' + category">{{category}}</mat-option>
    </div>
  </mat-select>
</mat-form-field>
<p>Selected: {{selectedCategory}}</p>
<div *ngIf="books">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Category</th>
        <th scope="col">Tag</th>
        <th scope="col">Isbn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.name}}</td>
        <td>{{book.author}}</td>
        <td>{{book.category}}</td>
        <td>{{book.tag}}</td>
        <td>{{book.isbn}}</td>
        <td matTooltip="{{isLoggedIn && book.available ? '' : 'Not available'}}" [matTooltipPosition]="'after'">
          <button mat-raised-button color="primary" [disabled]="!book.available || !isLoggedIn" (click)="borrow(book)">
            Borrow
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
